/*                  global style */
/* font */
/* font-family: 'Poppins', sans-serif; */
/* === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}
body {
  position: relative;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
strong {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-transform: capitalize;
}
.section-center {
  max-width: 1200px;
  width: 90%;
  margin-inline: auto;
}
::placeholder {
  text-transform: capitalize;
}
.button {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: #ff599f;
  border-radius: 20px;
  border-bottom: solid 3px transparent;
  transition: all ease-in-out 300ms;
}
/*          end of global style */

/*          navigation*/
.navigation {
  position: fixed;
  top: 1rem;
  width: 100%;
}
.nav-sticky {
  background-color: white;
  top: 1rem;
  padding: 15px;
  border: solid 1px blue;
  border-radius: 30px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo {
  width: 128px;
}
/* === */
.nav-button_hamburger {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.nav-hamburget_button-line {
  position: relative;
  width: 25px;
  border-bottom: solid black 1.5px;
  transition: all 300ms ease-in-out;
}
.nav-hamburget_button-line-middle {
  width: 30px;
}
.nav-button_hamburger:hover .nav-hamburget_button-line-top {
  transform: translateY(10px) rotateZ(45deg);
}
.nav-button_hamburger:hover .nav-hamburget_button-line-middle {
  transform: translate(-50%);
  opacity: 0;
}
.nav-button_hamburger:hover .nav-hamburget_button-line-bottom {
  /* position: relative; */
  transform: translateY(-10px) rotateZ(-45deg);
}
/* === nav open */
.nav-sticky_open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.nav-mobile_open {
  /* == */
  display: none;
  /* == */
  position: fixed;
  top: 72px;
  background-color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: center;
  border: solid 1px blue;
  border-top: none;
}
.nav-mobile_open li {
  border-bottom: 1px solid rgb(235, 235, 235);
}
.nav-mobile_open li:last-child {
  border-bottom: none;
}
.nav-mobile_open a {
  display: block;
  text-transform: capitalize;
  color: black;
  padding: 15px 20px;
}
/*          end of navigation */

/*          header */
header {
  background-size: cover;
  background-position: center;
  /* background-size: initial; */
  background-repeat: no-repeat;
  background-image: url('../assets/images/banner-bg.png');
  display: grid;
  place-items: center;
  height: 100vh;
}
.header-section {
  width: 85%;
  text-align: center;
  text-align: center;
  color: white;
  position: relative;
  max-width: 700px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header-section {
    transform: translateY(-6rem);
  }
}
.header-section h1 {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 0.9;
  margin-bottom: 2rem;
}
.header-section .button {
  margin-top: 3rem;
}
.header-section .button:hover {
  border-bottom: solid 3px white;
  transform: translateY(-3px);
}
.header-section .button:active {
  transform: none;
}

/*          end of header */

/*          blog entries */
.blog-entries {
  padding: 3rem 0;
  text-align: center;
}
.blog-entries_title *,
.blog-entries_cards-item {
  margin-bottom: 1.5rem;
}
.blog-entries p {
  color: grey;
}

.blog-entries_cards-item {
  width: 100%;
  min-width: 175px;
}
.blog-entries_cards-item .button,
.blog-entries_cards-item h3 {
  margin-top: 1rem;
}
@media screen and (min-width: 500px) {
  .blog-entries_cards {
    text-align: left;
    justify-content: space-around;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .blog-entries_cards-item {
    margin-bottom: 2.5rem;
    max-width: 320px;
  }
  .blog-entries_title p {
    margin-bottom: 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .blog-entries_cards {
    text-align: center;
  }
  .blog-entries_cards-item {
    margin-bottom: 1rem;
  }
}
/*          end of blog entries */

/*          contact us */
.contact-us {
  padding: 1rem 0 3rem 0;
  background-color: #f2f2fe;
}
.contact-us * {
  margin-bottom: 1rem;
}
.contact-us_title {
  text-align: center;
}
.contact-us_title h3 {
  text-transform: capitalize;
  font-size: 1.5rem;
}
.contact-us_title p {
  padding-inline: 0.5rem;
}

.contact-form * {
  display: block;
  border-radius: 20px;
  border: none;
  margin-bottom: 1.2rem;
}
.contact-us_title p,
.form *:not(h4) {
  color: grey;
}

input[type='text'],
input[type='email'] {
  padding: 10px 20px;
  font-size: 1.1rem;
  width: 100%;
}
textarea {
  padding: 10px 20px;
  font-size: 1.1rem;
  width: 100%;
  resize: none;
}
textarea::placeholder,
textarea {
  font-family: inherit;
}
.button.contact-form_button {
  color: white;
  border: none;
}
@media screen and (min-width: 768px) {
  .form-text {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .contact-us {
    padding: 2rem 0 3rem 0;
  }
  .form h4 {
    font-size: 1.3rem;
  }
  .form_big-screen {
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns: 30% 70%;
    margin-inline: auto;
  }
}
/*          end of contact us */

/*          footer */
footer {
  text-align: center;
  padding: 2rem 10%;
  background-color: rgb(177, 0, 177);
  color: white;
}
.footer-icon {
  padding-bottom: 1.5rem;
}
.footer-description p {
  font-size: 13px;
  text-transform: uppercase;
  padding-top: 1.5rem;
}
/*          end of footer */
